body {
    background-color: #141414;
}

.card {
    background-color: #222222;
}

.product img {
    height: 235px;
}

.product {
    height: 400px;
    width: 235px;
    background-color: white;
    border-radius: 5%;
}

.avatar {
    width: 300px;
    border: 2px solid white;
} 